.popup__input {
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    height: 27.26px;
    opacity: 0.2;
    border: 0;
    border-bottom: 1px solid #000000;
    color: #000000;
    
}

.popup__input:first-of-type {
    margin-bottom: 29.74px;
}

.popup__input:focus {
    outline-color: blue;
    color: #000000;
}