.profile__avatar-edit_visible {
    min-width: 120px;
    height: 120px;
    background-image: url(../../../../images/profileEditLarge.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}

.profile__avatar-edit_visible:hover {
    background-color: rgba(0, 0, 0, 0.8);
}