.popup__close {
    height: 40.7px;
    width: 40.7px;
    background-image: url(../../../images/popupClose.svg);
    background-position: center;
    margin-left: 462px;
    margin-top: -37px;
}

.popup__close:hover {
    cursor: pointer;
    background-image: url(../../../images/popupCloseGray.svg);
}